/*Name: Sivly Lay
Email: Sivly_Lay@student.uml.edu
Affiliation: Computer Science Student at Umass Lowell in course 91.61 GUI Programming I
Date: Nov 10, 2020
Assignment: HW7
Description: update with slider and tabs by taking inputs from the user and build a dynamic multiplication table  
*/

/*https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_headings_left*/
/*https://www.w3schools.com/html/html_tables.asp*/
/*https://www.w3schools.com/css/css_table.asp*/
body,html {
	padding: 5px;
	margin: 0;
	background-color: #EAFAF1;
	outline: none;
}
#enter {
	font-size: 20px;
}
input {
	border:1px solid #000;
	margin-bottom:.5em;
}
/*https://www.w3schools.com/cssref/sel_element_class.asp*/
input.inputBox {
	text-align: right;
	width: 40px;
	height: 20px;
	outline: none;
	font-size: 15px;
	margin-left: 30px;
}
/*https://www.w3schools.com/cssref/css_selectors.asp*/
.inputBox ~ input.error {
	border:1px solid red
}
/*https://jqueryvalidation.org/files/demo/site-demos.css*/
/*https://stackoverflow.com/questions/4810927/how-to-go-up-a-level-in-the-src-path-of-a-url-in-html*/
.inputBox ~ label.error {
	background:url("../images/unchecked.gif") no-repeat;
	padding-left:16px;
	margin-left:.3em
}
.inputBox ~ label.valid {
	background:url("../images/checked.gif") no-repeat;
	padding-left:16px;
	margin-left:.3em
}
.multTable, .multTable th, .multTable td {
	border: 1px solid black;
	margin: auto;

}
.multTable th, .multTable td {
	padding: 5px;
	width: 15px;
	height: 15px;
}
 .multTable th {
	background-color: #ccc;
}
 .multTable td{
	background-color: #fff;
}
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_rangeslider*/
.slider {
	-webkit-appearance: none;
	width: 100%;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	box-shadow: black;
}
.slider::hover {
	opacity: 1;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: white;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0px 1px 10px 1px black;
}
.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background: white;
	cursor: pointer;
	border-radius: 50%;
	box-shadow: 0px 1px 10px 1px black;
}
.ui-tabs {
	position: absolute;
	min-width: 98%;
}
/*https://www.w3schools.com/css/css3_buttons.asp*/
/*https://stackoverflow.com/questions/42134731/css-change-button-style-after-click/42134808*/
button, button:focus {
	background: #2d2d30;
	color: #f1f1f1;
	padding: 15px 32px;
	margin: 10px 30px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	transition: .2s;
	outline: none;
}
button:hover {
	border: 1px solid #333;
	background-color: #fff;
	color: #000;
}
/*https://www.w3schools.com/css/css_link.asp*/
a {
	outline: none;
}
#errorDeleteTab {
	color: red;
	text-align: center;
	font-size: 20px;
}

